*{ margin:0px; padding:0px;}
body{ background-color: #cccccc;}
#wrapper{width:1140px; min-height:800px; margin:auto auto; background-color: #eeeeee;}
.row{ min-height:10px;}
.col100{width:100%;}
.col50{width:50%;float:left;}
.col33{ width:33.33%; float:left;}
.col25{ width:25%; float:left;}
.clear{ clear:both;}
.box{width:95%; margin:5px; padding:5px; border:1px solid #4e4e4e;}
h1{letter-spacing: 10px; columns: #030303; font-size:23px; text-transform: uppercase;}
.oldprice{text-decoration: line-through;}

ul {list-style:none; background-color:#f3f3f3; float:right;}
ul li{display: inline-block;}
ul li a{ display:block; padding: 10px 25px;  color:#333; text-decoration: none;}
ul li a:hover{color:#333; background:#3fe345}
.fourcolumn{
    width:270px;
    height:auto;
    border-right:3px solid #4e4e4e;
    border-bottom: 3px solid #4e4e4e;
    opacity:0.7;
    position:relative;
    top:20px;
    bottom:20px;
}
.fourcolumn:hover{opacity:1}
#social{position:fixed; top:150px; width:50px; min-height:150px; background:#ff0000;right:0px;}
#social ul{list-style: none;}
#social ul li{color:#4e4e4e;}

.box1{width:200px; height:200px; border-radius:50%; background-color:#cecece; position:absolute; z-index:5556;}
.box2{width:120px; height:120px; background-color:#bfbcf0;z-index:5555;position:absolute;}

.auto{overflow:auto; width:270px; height:256px;}
.scroll{overflow:scroll; width:270px; height:256px;}
.hidden{overflow:hidden; width:270px; height:256px;}